In [4]:
# Commenting in python

# Use Ctrl + / to comment any line in Jupyter

print("Commented")

Commented

In [6]:
# Typecasting

a = 5
print(type(a))
b = float(a)
print(type(b))

<class 'int'>
<class 'float'>

In [11]:
# Lists

ints = [3,2,1,4,5]
ints

[3, 2, 1, 4, 5]

In [13]:
# Slicing & Sorting
print(ints[0:3])

[3, 2, 1]

In [14]:
ints.sort()
print(ints)

[1, 2, 3, 4, 5]

In [20]:
# Lists with different types of elements

ints_with_names = [1, "one", 2, "two", 3, "three"]
(ints_with_names[0:2])

[1, 'one']

In [22]:
# List of lists

a = [["a","b","c"], [1,2,3], [1.33, 3.14, 2.30]]
a[0]

['a', 'b', 'c']

In [25]:
a[1][1]

2

In [24]:
a[:]

[['a', 'b', 'c'], [1, 2, 3], [1.33, 3.14, 2.3]]

In [27]:
a[0][:]

['a', 'b', 'c']

In [33]:
a[len(a[2]) - 1]

[1.33, 3.14, 2.3]

In [34]:
a

[['a', 'b', 'c'], [1, 2, 3], [1.33, 3.14, 2.3]]

In [35]:
# Changing element of list

a[2][1]

3.14

In [36]:
a[2][1] = 22/7

In [37]:
a

[['a', 'b', 'c'], [1, 2, 3], [1.33, 3.142857142857143, 2.3]]

In [38]:
strings = a[0]
print(strings)
strings_only_a = strings[0]
print(strings_only_a)

['a', 'b', 'c']
a

In [39]:
a

[['a', 'b', 'c'], [1, 2, 3], [1.33, 3.142857142857143, 2.3]]

In [40]:
a.append([5])

In [41]:
a

[['a', 'b', 'c'], [1, 2, 3], [1.33, 3.142857142857143, 2.3], [5]]

In [42]:
a[0].append(101)

In [44]:
a[0].append([101])

In [45]:
a

[['a', 'b', 'c', 101, [101]], [1, 2, 3], [1.33, 3.142857142857143, 2.3], [5]]

In [46]:
# How to delete elements from a list

del(a[0][3])
a

[['a', 'b', 'c', [101]], [1, 2, 3], [1.33, 3.142857142857143, 2.3], [5]]

In [56]:
manager_1 = ["Sumit", "Arshveen"]
manager_2 = ["Abhishek", "Sumit"]

In [57]:
team = manager_1 + manager_2

In [58]:
type("Sumit")

str

In [59]:
team

['Sumit', 'Arshveen', 'Abhishek', 'Sumit']

In [53]:
# Strings

name = "Rohan"
name

'Rohan'

In [55]:
name[2]

'h'

In [ ]:
surname = "Raj"

In [ ]:
fullname = name + surname

In [ ]:
fullname

In [62]:
# Dictionary

dict = {"key1": "alpha", "key2": [1,2,3]}
d = {"k1": "what", "k2": "2"}

In [64]:
d["k3"] = 3.0

In [83]:
# For loops

l=[]
l1 = [1,2,3,4]
l2 = ["one", "two", "three"]


for i in range(len(l2)):
    
    print(i)

0
1
2

In [89]:
for element, i in zip(enumerate(l1),enumerate(l2)):
    print(i[1])
    
    print("\n")

one


two


three

In [91]:
for ix, el in (enumerate(l2)):
    print(ix)
    print(el)
    print("\n")

0
one


1
two


2
three

In [97]:
[l1]*5

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [95]:
l = [ele*5 for ele in l1]
l

[5, 10, 15, 20]

In [98]:
# While loop
best = 5
while best != 0:
    
    best-=1
    print(best)

4
3
2
1
0

In [ ]:
if best == 5:
    print("Equals")
    
else